/* line 1, ./scss/style.scss */
html {
  box-sizing: border-box;
}

/* line 5, ./scss/style.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 9, ./scss/style.scss */
body {
  margin: 1em;
}

/* line 13, ./scss/style.scss */
.icon-container {
  position: relative;
  width: 117px;
  height: 144px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 23, ./scss/style.scss */
.icon-container.small {
  width: 77px;
  height: 94px;
}
/* line 27, ./scss/style.scss */
.icon-container.small .bookcover {
  width: 70px;
  left: 4px;
}

/* line 33, ./scss/style.scss */
.binder {
  z-index: 10;
  left: 1px;
}

/* line 37, ./scss/style.scss */
.bookcover {
  top: 0;
  position: absolute;
  border: 1px solid black;
  border-radius: 3px;
  left: 7px;
  width: 110px;
}

/* line 46, ./scss/style.scss */
.flex {
  display: flex;
}
/* line 48, ./scss/style.scss */
.flex > div {
  margin: 0 1em;
}
