html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin:1em;
}

.icon-container {
  position:relative;
  width:117px;
  height:144px;
  max-width:100%;

  display:flex;
  align-items: center;
  justify-content: center;

  &.small {
    width:77px;
    height: 94px;

    .bookcover {
      width:70px;
      left: 4px;
    }
  }
}
.binder {
  z-index: 10;
  left:1px;
}
.bookcover {
  top: 0;
  position:absolute;
  border:1px solid black;
  border-radius:3px;
  left:7px;
  width:110px;
}

.flex {
  display:flex;
  > div {
    margin:0 1em;
  }
}
