html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin:1em;
}

.icon-container {
  position:relative;
  width:117px;
  height:144px;
  max-width:117px;

  display:flex;
  align-items: center;
  justify-content: center;
}
.binder {
  position:relative;
  left:1px;
}
.bookcover {
  top: 0;
  position:absolute;
  border:1px solid black;
  border-radius:3px;
  left:7px;
  width:110px;
}
